ul{
  display: flex;
  gap: 20px;
  
  li{
    list-style: none;
    display: flex;
    align-items: center;
    img{
      margin: 10px;
      @media(width<=500px){
        margin: 5px;
      }
    }
    @media(width<= 500px){
      display: flex;
      flex-direction: column;
    }
  }
}