.h1-join {
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  span{
    color: var(--Accent-text);
  }
  @media(width<=500px){
    justify-content: start;
    align-items: start;
    font-size: 50px;
    flex-direction: column;
    
  }
}